body {
    background-color: #cfd3ce;
}

.spacer10 {
    margin: 10px 0;
}

.spacer5 {
    margin: 5px 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #839b97;
}

label {
    color: #34626c;
}

.text-center {
    border: solid 1px black;
    text-align: center;
    font-size: 15px;
    text-decoration: underline;
}

.white {
    background-color: white;
}

#courseName {
    text-align: center;
    color: #839b97;
}

.totals {
    color: #34626c;
}


